@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "pretendard/dist/web/variable/pretendardvariable.css";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    /* shadcn */
    --color-background: oklch(0.975 0.005 255);
    --color-foreground: oklch(0.145 0 0);
    --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.145 0 0);
    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.145 0 0);

    /* custom */
    --color-primary: oklch(0.33 0.06 250);
    --color-primary-foreground: oklch(0.28 0.055 250);
    --color-secondary: oklch(0.55 0.08 235);
    --color-secondary-foreground: oklch(0.45 0.03 235);
    --color-border: oklch(87.2% 0.01 258.338);
    --color-danger: oklch(56% 0.14 25);
    --color-danger-foreground: oklch(46% 0.09 25);
    --color-warning: oklch(65% 0.183 30); /* 보류 */
    --color-success: oklch(0.60 0.11 150); /* 미사용, 참고용 */

    /* text */
    --color-text-primary: oklch(0.2 0.02 255);
    --color-text-foreground: oklch(0.975 0 0);
    --color-text-secondary: oklch(0.55 0.015 255);
    --color-text-placeholder: oklch(0.65 0.015 255);

    --color-muted: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-accent: oklch(0.97 0 0);
    --color-accent-foreground: oklch(0.205 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);
    --color-destructive-foreground: oklch(0.985 0 0);
    --color-input: oklch(0.922 0 0);
    --color-ring: oklch(0.708 0 0);
    --color-chart-1: oklch(0.87 0 0);
    --color-chart-2: oklch(0.556 0 0);
    --color-chart-3: oklch(0.439 0 0);
    --color-chart-4: oklch(0.371 0 0);
    --color-chart-5: oklch(0.269 0 0);
    --color-sidebar: var(--color-secondary);
    --color-sidebar-foreground: oklch(0.145 0 0);
    --color-sidebar-primary: oklch(0.205 0 0);
    --color-sidebar-primary-foreground: oklch(0.985 0 0);
    --color-sidebar-accent: oklch(0.97 0 0);
    --color-sidebar-accent-foreground: oklch(0.205 0 0);
    --color-sidebar-border: oklch(0.922 0 0);
    --color-sidebar-ring: oklch(0.708 0 0);
}

@utility no-spinners {
    appearance: textfield;
    &::-webkit-outer-spin-button {appearance: none;}
    &::-webkit-inner-spin-button {appearance: none;}
}

@layer utilities {
    .popup-title {
        @apply text-lg font-bold text-gray-600;
    }

    .ticket-bottom-bg {
        background-color: oklch(0.20 0.06 250)
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        @apply font-sans;
    }
}
